.footer{
    background-color: #1D2544;
    margin-top: 40px;
    padding: 48px;
 
}
.content{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    color: #fff;

}
.leftCont{
    font-size: 20px;
    font-family: 'Hiromisake';

}
.rightCont{
    display: flex;
    justify-content: space-between;
    width: 150px;

}
.middleCont{
    display: flex;
    justify-content: space-between;
    max-width: 440px;
    font-family: 'Satoshi-Variable';
}

.listCont{
    margin-right: 50px;
}

.listTitle{
    opacity: .75;
    font-size: 16px;
    margin-bottom: 10px;

}

.listElement{
    font-size: 12px;
}
.home{
    font-size: 16px;
    opacity: .75;
    margin-bottom: 10px;
}

.iconCont{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 50%;
}
@media (max-width: 900px){
    .listCont{
        margin-right: 10px;
    }
}

@media (max-width: 550px){
    .middleCont, .content{
        flex-direction: column;
    }
}

